# Environments
.venv/
venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Byte-compiled / optimized / DLL files
*.pyd
*.pyo

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# IDE / Editor configs
.vscode/
.idea/
*.swp
*.swo

# Temporary data / reports
*.pdf
*.log
